/* General styling */

*
{
    margin: 0;
    padding: 0;
}

html
{
    margin: 0;
    padding: 0;
}

body
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color:hsla(0, 0%, 0%, 0.1);
    color: darkslategray;
    font-family: 'Open Sans', sans-serif;

}

h1, h2, h3
{
    color: darkgreen;
    font-family: 'Patrick Hand', cursive;
    margin: 1rem 0;
    text-shadow: -2px -2px 2px silver;
}

h1
{
    font-size: 2rem;
}

h2
{
    font-size: 1.7rem;
}

h3
{
    font-size: 1.4rem;
    font-style: italic;
}

a
{
    text-decoration: none;
    color: darkgreen;
}

a:visited
{
    color:slategray;
}

main
{
    margin: 1rem;
}

main img
{
    width: 100%;
    height: auto;
}

p
{
    margin: 0.7rem 0;
}

/* Navigation styling */

nav
{
    display: none;
}

nav a
{
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
}

nav ul, footer
{
    background-color: darkgreen;
    width: 100%;
    
}

nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    top: 100px;
}

nav ul li
{
    position: relative;
}

nav ul li a, footer p
{
    color: mintcream;
    text-decoration: none;
    line-height: 2rem;
    margin: 0;
    padding: 0 0.8rem;
}

/* Footer styling */

footer
{
    text-align: center;
}

footer i
{
    font-size: 1.2rem;
    margin:0.5rem;
}

i
{
    color: mintcream;
}

/* Header styling */

header
{
    height: 100px;
    background-image: url("../img/headerimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
    top: 0;
    width: 100%;
}

header a
{
    display: block;
    height: 100%;
}

header h1
{
    color: rgb(9, 214, 26);
    text-shadow: whitesmoke -2px -2px 5px;
    margin: 0;
    font-size: 4.5rem;
    background-color: hsla(0, 0%, 100%, 0.2);
}

/* index.html styling */

.imgtext
{
    position: relative;
    z-index: -1;
    text-align: center;
    
}

.imgtext h2
{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
}

.newproductsheading
{
    background-color: rgba(0, 100, 0, 0.5);
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    color: mintcream;
    border-radius: 5px;
    text-shadow: darkgreen -2px -2px 5px;
    margin: 3rem 0;
}

.newproducts
{
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style-type: none;
    width: 100%;
    padding: 0;

}

.newproducts li
{
    padding: 0.5rem;
    width: 20%;
}

.newproducts li a
{
    color: darkgreen;
}

.newproducts li:hover
{
    opacity: 0.7;
    background-color:hsla(90, 50%, 50%, 0.1);
}

.newproducts img
{
    max-width: 90%;
}

.background
{
    background-color: thistle;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.background img
{
    width: 90%;
    height: auto;
    text-align: center;
}

.sidebar
{
    float: left;
    height: 100vh;
    margin-right: 30px;
    background-color: lightgray;
    padding: 20px;
}

.sidebar img
{
    float: left;
    width: 40px;
    margin-right: 20px;
}

.sidebar div
{
    height: 40px;
    line-height: 40px;
    margin: 20px 0;
}

.blog h1
{
    padding-top: 2rem;
}

.blog img
{
    width: 300px;
    float: left;
    margin-right: 10px;
}

img.blogright
{
    float: right;
}

.plant
{
    display: flex;
}

.plantdetails
{
    display: flex;
    flex-direction: column;
}

.plantdetails article
{
    margin-left: 2rem;
}

.plantdetails article p
{
    margin-bottom: 1.5rem;
}

/* Kontakt formular styling */

.newplantentry
{
    display: none;
}

.chk_newplant:checked ~.newplantentry
{
    display: block;
}

.contactform p
{
    display: flex;
}

label
{
    width: 25rem;
}

input, textarea
{
    background-color: hsla(0, 0%, 0%, 0.05);
    margin-right: 0.7rem;
}

input:focus, textarea:focus
{
    background-color: hsla(0, 0%, 0%, 0.0);
}

input[type=text], input[type=email], textarea
{
    width: 20rem;
}

input[type=number]
{
    width: 4rem;
}

textarea
{
    height: 7rem;
}

select
{
    width: 7rem;
}

.sel_months
{
    scrollbar-width: none;
    overflow: hidden;
}

/* display.html (undervisningsside) styling */

.eksempel1
{
    background-color:hsla(0, 0%, 0%, 0.1);
}

.eksempel2
{
    background-color: hsla(130, 100%, 20%, 1);
    color:hsla(130, 100%, 95%, 1)
}

.block
{
    height: 50px;
    display: block;
    background-color:hsla(0, 0%, 0%, 0.6);
}

.inline-block
{
    height: 50px;
    width: 300px;
    display: inline-block;
    background-color:hsla(0, 0%, 0%, 0.3);
}

.inline
{
    height: 50px;
    width: 300px;
    display: inline;
    background-color:hsla(0, 0%, 0%, 0.5);
    color:hsla(130, 100%, 95%, 1)
}

.display
{
    padding-bottom: 4rem;
}


.display ul
{
    list-style-position: inside;
}


@media only screen and (min-width: 1024px)
{
    main
    {
        width: 1000px;
    }
    
    .plantdetails img
    {
        width: auto;
    }

    /* Styling af dropdown menu */

    nav
    {
        display: block;
        position: fixed;
        top: 100px;
        left: 0px;
        right: 0px;
    }

    header
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    nav>ul>li
    {
        width: 300px;
    }

    nav ul ul
    {
        flex-direction: column;
        position: absolute;
        z-index: 1;
        top: 2rem;
        background-color:hsla(0, 0%, 0%, 0.9);
        max-height: 0;
        transition: max-height 0.4s ease-out;
        overflow: hidden;
    }

    nav ul li:hover ul
    {
        max-height: 500px;
    }

    nav ul ul li:hover
    {
        background-color: hsla(0, 0%, 100%, 0.3);
    }

    nav ul li a:visited
    {
        color: mintcream;
    }

    nav li:hover
    {
        background-color: hsla(0, 0%, 100%, 0.3);
    }

    li a
    {
        color: darkgreen;
        text-decoration: none;
    }

    main
    {
        margin-top: 140px;
    }
}

@media only screen and (min-width: 1201px)
{

}

/* TEST AREA */

