*
{
    margin: 0;
    padding: 0;
}

body
{
    
    background-color: gainsboro;
    font-family: 'Roboto', sans-serif;
    line-height: 1.8;
}

body, .birdindex a, .birdindex2 a
{
    color: darkslategray;
}

.birdindex a, .birdindex2 a
{
    text-decoration: none;
}

header, main
{
    width: 1000px;
    margin: auto;
}

nav, footer
{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: rgb(128, 72, 25);
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
}

nav
{
    position: fixed;
}

nav img
{
    display: none;
}

nav ul
{
    list-style-type: none;
}

nav .menu-btn, nav .submenu-btn
{
    display: none;
}

nav a, footer, h2.mobilemenu
{
    color: gainsboro;
}

nav a, h2.mobilemenu
{
    text-decoration: none;
    padding: 0 20px;
    display: inline-block;
}

nav a.menulink
{
    display: inline-block;
}

nav h2.mobilemenu
{
    display: none;
}

nav li:hover
{
    background-color: rgba(255, 255, 255, 0.3);
}

nav ul li
{
    display: inline-block;
    width: 280px;
}

nav ul li ul
{
    display: none;
    position: absolute;
    background-color: rgba(128, 72, 25, 0.9);
    text-transform: none;
    font-size: 20px;
    text-align: left;
}

nav ul li ul li
{
    display: block;
}

nav ul li ul li:hover
{
    background-color: rgba(255, 255, 255, 0.7);
}

nav ul li ul li:hover a
{
    color: darkslategrey;
}

nav ul li:hover ul
{
    display: block;
}

header
{
    padding-top: 70px;
}

h1
{
    color: rgb(128, 72, 25);
    text-transform: uppercase;
    text-shadow: -2px -2px 2px silver;
    font-size: 4rem;
}

h1, h2
{
    font-family: 'Lato', sans-serif;
}

h2
{
    font-size: 30px;
}

ul
{
    list-style-position: inside;
}

.birdimg
{
    /* float: left; */
    margin-right: 20px;
}


main a img:hover
{
    opacity: 0.8;
}

.birdfacts
{
    display: flex;
    background-color: hsla(0, 0%, 100%, 0.4);
    padding: 0.7rem;
}

.birdindex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.birdindex2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.birdindex2 div
{
    margin-right: 3.1rem;
}


.birdindex div, .birdindex2 div
{
    display: flex;
    justify-content: center;
    text-align: center;
}

@media only screen and (max-width: 1000px)
{
    .birdindex, .birdindex2
    {
        flex-wrap: no-wrap;
        justify-content: center;
    }

    html
    {
        overflow-x: hidden;
    }

    .birdindex2 div
    {
        margin-right: 0;
    }

    nav input.menu-btn
    {
        display: block;
        height: 40px;
        width: 40px;
        position: absolute;
        z-index: 7;
        opacity: 0;
        top: 5px;
        right: 10px;
        cursor: pointer;
    }

    nav a.menulink
    {
        display: none;
    }

    nav h2.mobilemenu
    {
        display: inline-block;
        font-size: 24px;
        font-weight: normal;
    }

    nav ul
    {
        display: none;
        width: 100vw;
        height: 100vh;
        /* position: absolute; */
        background-color: rgba(128, 72, 25, 0.9);
    }

    nav>img
    {
        height: 40px;
        position: absolute;
        z-index: 6;
        top: 5px;
        right: 10px;
    }

    nav ul li:hover ul
    {
        display: none;
    }

    nav ul li ul
    {
        position: relative;
        height: 100%;
        background-color: rgba(128, 72, 25, 0);
    }

    nav .menu-btn:checked ~ul
    {
        display: block;
        padding-top: 3rem;
    }

    nav .menu-btn:checked ~ul li
    {
        text-align: right;
        width: 100%;
    }

    nav .menu-btn:checked ~ .menuicon
    {
        display: none;
    }

    nav .menu-btn ~ .menuicon
    {
        display: block;
    }

    nav .menu-btn:checked ~ .closeicon
    {
        display: block;
    }

    nav .menu-btn ~ .closeicon
    {
        display: none;
    }

    nav .menu-btn:checked ~ul li img
    {
        display: inline-block;
        height: 40px;
        margin-top: 5px;
    }

    nav .menu-btn:checked ~ul li .submenu-btn
    {
        display: inline-block;
        height: 40px;
        width: 40px;
        cursor: pointer;
        position: absolute;
        right: 5px;
        margin-top: 5px;
        z-index: 7;
        opacity: 0;
    }

    nav .menu-btn:checked ~ul li .submenu-btn:checked ~ul
    {
        display: flex;
        flex-direction: column;
    }
    
    header img
    {
        display: none;
    }

    main
    {
        width: 90%;
        padding: 30px 20px;
    }

    h1
    {
        font-size: 3rem; 
    }

    .birdimg
    {
        margin-right: 0;
    }

    .birdfacts
    {
        flex-direction: column;
    }
}