*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: hsl(225, 25%, 87%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header
{
    background-color: hsl(225, 50%, 50%);
    padding: 2rem;
}

nav
{
    background-color: hsl(225, 70%, 80%);
    padding: 2rem;
}

main
{
    background-color: hsl(225, 25%, 30%);
    padding: 2rem;
    color: hsl(225, 25%, 87%);
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

section
{
    background-color: hsl(225, 90%, 50%);
    padding: 2rem;
    margin: 1rem;
}

footer
{
    background-color: hsl(225, 20%, 50%);
    padding: 2rem;
}